/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
/* Force table to not be like tables anymore */
/*  thead, */
/* Hide table headers (but not display: none;, for accessibility) */
.users-table {
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    td {
      a.edit {
        padding-right: 8px;
      }
    }
    tr {
      background: #ffff;
    }
  }
  th {
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px dotted #ebebeb;
    text-align: left;
    font-size: 18px;
  }
  td {
    padding: 10px;
    border-bottom: 1px dotted #ebebeb;
    text-align: left;
    font-size: 18px;
  }
}
.users-modal {
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  .modal-content {
    background-color: #ffff;
  }
}
@media only screen and (max-width: 760px) {
  .users-table {
    table {
      width: 100%;
      display: block;
    }
    tbody {
      display: block;
    }
    th {
      display: block;
    }
    td {
      display: block;
      border: none;
      position: relative;
      &:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        color: #000;
        font-weight: bold;
      }
    }
    tr {
      display: block;
      border: 1px solid #ccc;
      margin-top: 1rem;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }
    thead {
      tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }
  }
}
@media (min-device-width: 760px) and (max-device-width: 1024px) {
  .users-table {
    table {
      width: 100%;
      display: block;
    }
    tbody {
      display: block;
    }
    th {
      display: block;
    }
    td {
      display: block;
      border: none;
      position: relative;
      &:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        color: #000;
        font-weight: bold;
      }
    }
    tr {
      display: block;
      border: 1px solid #ccc;
      margin-top: 1rem;
      box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }
    thead {
      tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
    }
  }
}
