.ct-chart {
  .ct-line {
    stroke-dasharray: 0;
  }
}

.report-summary-header {
  border-bottom: solid 1px #e8ecf1;
}

.report-inner-cards-wrapper {
  padding-top: 25px;

  .report-inner-card {
    display: flex;
    border-right: solid 1px #e8ecf1;
    padding: 0 40px;

    .rtl & {
      border-right: none;
      border-left: solid 1px #e8ecf1;
    }

    @media screen and (max-width: 1199px) {
      padding-top: 12.5px;
      padding-bottom: 12.5px;
    }

    &:first-child {
      padding-left: 15px;

      .rtl & {
        padding-right: 15px;
        padding-left: 40px;
      }

      @media screen and (max-width: 1199px) {
        border-bottom: solid 1px #e8ecf1;
      }

      @media screen and (max-width: 767px) {
        border-right: none;
        padding-right: 12.5px;

        .rtl & {
          border-left: none;
          padding-left: 12.5px;
        }
      }
    }

    &:nth-child(2) {
      @media screen and (max-width: 1199px) {
        padding-right: 12.5px;
        border-bottom: solid 1px #e8ecf1;
        border-right: none;

        .rtl & {
          border-left: none;
          padding-left: 12.5px;
          padding-right: 40px;
        }
      }

      @media screen and (max-width: 767px) {
        padding-left: 12.5px;

        .rtl & {
          padding-right: 12.5px;
        }
      }
    }

    &:nth-child(3) {
      @media screen and (max-width: 1199px) {
        padding-left: 12.5px;

        .rtl & {
          padding-left: 40px;
          padding-right: 12.5px;
        }
      }
      @media screen and (max-width: 767px) {
        border-right: none;
        padding-right: 12.5px;
        border-bottom: solid 1px #e8ecf1;

        .rtl & {
          border-left: none;
          padding-left: 12.5px;
        }
      }
    }

    &:last-child {
      border-right: 0;
      padding-right: 15px;

      .rtl & {
        border-left: none;
        padding-left: 15px;
        padding-right: 40px;
      }

      @media screen and (max-width: 767px) {
        border-right: none;
        padding-left: 12.5px;

        .rtl & {
          border-left: none;
          padding-right: 12.5px;
        }
      }
    }

    .inner-card-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .report-title {
      font-size: 14px;
      font-weight: 600;
      color: #111111;
    }

    h4 {
      font-weight: bold;
    }

    .report-count {
      font-size: 14px;
      color: theme-color(info);
    }

    .inner-card-icon {
      width: 62px;
      height: 62px;
      font-size: 25px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;

      .rtl & {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }
}

.aligner-wrapper {
  position: relative;
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.circle-progress-value {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #001737;
}

.circle-progress-label {
  font-size: 12px;
  color: #a7afb7;
  text-align: center;
  margin: 0;
}

.quick-status-card {
  .icon-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    background-color: #ecf0f4;
    font-size: 20px;
    color: #626262;

    @media screen and (max-width: 360px) {
      display: none;
    }
  }

  .wrapper {
    &:first-child {
      .icon-holder {
        background-color: #3a69ff;
        color: $white;
      }
    }
  }
}
.square-indicator {
  display: inline-block;
  width: 13px;
  height: 13px;

  & + p {
    font-size: 12px;
    font-weight: 600;
    color: #a7afb7;
  }
}

.dot-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.sales-report-country {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .sales-activity {
    &:first-child {
      border-bottom: solid 1px #e8ecf1;

      @media screen and (max-width: 1199px) {
        border-bottom: none;
        border-right: solid 1px #e8ecf1;
      }

      @media screen and (max-width: 575px) {
        border-bottom: solid 1px #e8ecf1;
        border-right: none;
      }
    }

    @media screen and (max-width: 575px) {
      padding: 1rem;
    }
  }
}

#dashboard-vmap {
  height: 280px;
}
.table {
  td {
    img {
      &.gateway-icon {
        width: 20px;
        height: 20px;
        min-width: 20px;
      }
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      font-size: 12px;
      font-weight: 600;

      @media screen and (max-width: 576px) {
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
