/* Auth */

.auth {
  .lock-profile-img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
  }
  .auth-form-dark {
    background: rgba($black, 0.6);
    color: $white;
    .form-control {
      border-color: rgba($white, 0.2);
      color: $white;
      @include input-placeholder {
        color: $white;
      }
    }
  }
  .auth-form-light {
    background: $white;
    select {
      color: $input-placeholder-color;
    }
    .input-group {
      .form-control {
        &:focus,
        &:active {
          border-color: $border-color;
        }
      }
    }
  }
  .auth-form-transparent {
    background: transparent;
    .form-control,
    .input-group-text {
      border-color: theme-color(secondary);
      &:focus,
      &:active {
        border-color: theme-color(secondary);
      }
    }
    select {
      outline-color: theme-color(secondary);
    }
  }
  &.auth-img-bg {
    padding: 0;
    .auth-form-transparent {
      @media (min-width: 768px) {
        width: 78%;
        margin: auto;
      }
    }
  }
  .brand-logo {
    margin-bottom: 2rem;
    img {
      width: 80px;
    }
  }
  form {
    .form-group {
      margin-bottom: 1.5rem;
      label {
        font-size: 0.8125rem;
      }
      .form-control {
        background: transparent;
        border-radius: 0;
        font-size: 0.9375rem;
        height: auto;
      }
    }
    .auth-form-btn {
      height: 50px;
      line-height: 1.5;
    }
    .auth-link {
      font-size: $default-font-size;
      &:hover {
        color: initial;
      }
    }
  }
}
