.landing-page {
  .navbar {
    .nav-link {
      font-family: "opensans-medium", sans-serif;
    }
  }
}

.banner-wrapper {
  background: linear-gradient(45deg, #5271ff 0%, #38b6ff 20%, #5271ff 50%);
  a.main-btn {
    background: #fff;
    color: #286ade !important;
  }
  .btn-hover {
    position: relative;
    overflow: hidden;
  }
  .main-btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 18px 48px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-in-out;
    border: none;
    background: #286ade;
    overflow: hidden;
  }
  .banner-content {
    padding: 45px 15px;
    h1 {
      font-size: 46px;
    }
    h3 {
      font-size: 36px;
    }
  }
}
.details-wrapper {
  .feature-list-row .feature-list-item i {
    color: #5271ff;
  }
  .rounded-lg {
    border-radius: 1rem !important;
  }

  .text-small {
    font-size: 0.9rem !important;
  }

  .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem;
  }

  .text-uppercase {
    letter-spacing: 0.2em;
  }
  /* padding: 140px 0 50px 0; */
  background: $landing-bg-color;
  .card-icon-top {
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    .card-icon {
      top: -38px;
      left: calc(50% - 30px);
      height: 70px;
      width: 70px;
      position: absolute;
    }
    h4 {
      font-size: 30px;
    }
    .card-text {
      font-size: 18px;
    }
  }
  .card-item-preview {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05),
      0 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    position: relative;
    .badge {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      position: absolute;
      right: -32px;
      top: -38px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
  .feature-list-row {
    .feature-list-item {
      i {
        font-size: 45px;
        display: block;
        padding: 40px 0;
      }
      .feature-description {
        font-size: 17px;
        padding-bottom: 20px;
      }
    }
  }
}
/* Footer */

.landing-page {
  .nav-item-align {
    line-height: 0px;
  }
  ul {
    margin: 0px;
    padding: 0px;
  }
  .footer-section {
    background: #151414;
    position: relative;
  }
  .footer-cta {
    border-bottom: 1px solid #373636;
  }
  .single-cta i {
    color: $boostack-color;
    font-size: 30px;
    float: left;
    margin-top: 8px;
  }
  .cta-text {
    padding-left: 15px;
    display: inline-block;
  }
  .cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .cta-text span {
    color: #757575;
    font-size: 15px;
  }
  .footer-content {
    position: relative;
    z-index: 2;
  }
  .footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
  }
  .footer-logo {
    margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 50px;
  }
  .footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
  }
  .footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }
  .footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
  }
  .footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
  }
  .footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
  }
  .footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: $boostack-color;
  }
  .footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
  }
  .footer-widget ul li a:hover {
    color: $boostack-color;
  }
  .footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
  }
  .subscribe-form {
    position: relative;
    overflow: hidden;
  }
  .subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: $boostack-color;
    padding: 13px 20px;
    border: 1px solid $boostack-color;
    top: 0;
  }
  .subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
  }
  .copyright-area {
    background: #202020;
    padding: 25px 0;
  }
  .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
  }
  .copyright-text p a {
    color: $boostack-color;
  }
  .footer-menu li {
    display: inline-block;
    margin-left: 20px;
  }
  .footer-menu li:hover a {
    color: $boostack-color;
  }
  .footer-menu li a {
    font-size: 14px;
    color: #878787;
  }
}
.landing-page {
  /* SERVICE */
  .service-section .service-content {
    margin-right: 70px;
    .main-btn {
      text-decoration: none;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .service-section .service-content {
      margin-bottom: 50px;
      margin-right: 0;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .service-section .service-content {
      margin-bottom: 50px;
      margin-right: 0;
    }
  }

  @media (max-width: 767px) {
    .service-section .service-content {
      margin-bottom: 50px;
      margin-right: 0;
    }
  }

  .service-section .single-service {
    margin-bottom: 30px;
    padding: 45px 30px;
    border-radius: 10px;
    background: #fff;
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 0px 64px rgba(181, 181, 181, 0.16);
    transition: all 0.3s;
  }

  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .service-section .single-service {
      padding: 30px 18px;
    }
  }

  .service-section .single-service:hover {
    background: radial-gradient(60% 70% at 15% 25%, #538bec 0%, #1058d6 100%)
      no-repeat 0% 50%/100% 100%;
  }

  .service-section .single-service:hover .icon svg path {
    fill: #fff;
  }

  .service-section .single-service:hover .content h3,
  .service-section .single-service:hover .content p {
    color: #fff;
  }

  .service-section .single-service .icon {
    margin-bottom: 25px;
    width: 45px;
    height: 45px;
    font-size: 40px;
    line-height: 1;
    color: #286ade;
  }

  .service-section .single-service .content h3 {
    margin-bottom: 20px;
  }
}
/* BUTTON main */
.landing-page {
  .main-btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 18px 48px;
    font-size: 18px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s ease-in-out;
    border: none;
    background: #5271ff;
    overflow: hidden;

    &:hover {
      color: #fff;
    }
  }

  .border-btn {
    border: 2px solid #5271ff;
    color: #5271ff;
    background: transparent;

    &:hover {
      color: #286ade;
    }

    &.btn-hover::after {
      background: rgba(40, 106, 222, 0.25);
    }
  }

  .btn-hover {
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      width: 0%;
      height: 0%;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.05);
      top: 50%;
      left: 50%;
      padding: 50%;
      z-index: -1;
      transition: all 0.3s ease-out 0s;
      transform: translate3d(-50%, -50%, 0) scale(0);
    }

    &:hover::after {
      transform: translate3d(-50%, -50%, 0) scale(1.3);
    }
  }
}
/* FAQ */
.landing-page {
  .faq {
    width: 100%;
  }
  /* SECTION */
  .about-section .about-img img {
    width: 100%;
  }

  .hero-content .main-btn {
    text-decoration: none;
  }

  .about-section .about-content {
    padding-left: 75px;
  }

  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .about-section .about-content {
      padding-left: 50px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-section .about-content {
      padding-left: 0;
      margin-top: 50px;
    }
  }

  @media (max-width: 767px) {
    .about-section .about-content {
      padding-left: 0;
      margin-top: 50px;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-section .about-content {
      padding-left: 0;
    }
  }

  .about-section .about-content .section-title h1 {
    margin-bottom: 35px;
  }

  .about-section .about-content .section-title p {
    margin-bottom: 40px;
  }
}
